html,
document,
body {
  margin: 0;
  height: 100%;
  background: white;
  max-width: 100vw;
  overflow-x: clip;
}

.app-title-bar {
  height: 32px !important;
  background: white;
}

.app-title-bar > :nth-child(1) {
  order: 1;
}
.app-title-bar > :nth-child(2) {
  order: 3;
}
.app-title-bar > :nth-child(3) {
  order: 2;
}

/**
  For Resource Items
**/
.explorer-item * {
  touch-action: none !important;
}

.resource-selected {
  transform: scale(0.95);
}

.explorer-item > .explorer-item-content {
  transition: outline-color 300ms;
}

.resource-selected > .explorer-item-content {
  outline: 2px solid #01579b;
}

div[data-baseweb='modal'] {
  padding-top: 32px;
}

.analysis_chart text {
  font-family: Raleway, 'Noto Color Emoji' !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  fill: black !important;
  opacity: 0.8;
}

.cm-theme {
  font-weight: 600 !important;
}
